
.app-feature-products {
  position: relative;
  width: 100%;

  &-container {
    display: grid;
    grid-template-columns: repeat(3, [col] minmax(auto, 1fr));

    @media (max-width: 1240px) {
      grid-template-columns: repeat(2, [col] minmax(auto, 1fr));
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, [col] minmax(auto, 1fr));
    }
  }

  &-order-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
